.logo{
    margin:13px 0px 5px 50px;
}

.btn, .crt-btn{
    padding: 12px 24px !important;
    background-color: white !important;
    color: black !important;
    border-radius: 10px !important;
    font-weight: 600 !important;
    font-family: 'Poppins'  !important;
}

.btn.crt-btn.white {
    background-color: white !important;
}

.success-text{
    color: green;
}



